<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.developr.me_commars">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MEcommars"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".activitys.CategoryActivity"
            android:exported="false"
            android:theme="@style/Theme.MEcommarss"/>
        <activity
            android:name=".activitys.SearchActivity"
            android:theme="@style/Theme.MEcommarss"
            android:exported="false" />
        <activity
            android:name=".activitys.PaymentActivity"
            android:exported="false"
            android:theme="@style/Theme.MEcommarss" />
        <activity
            android:name=".activitys.Checout"
            android:exported="false"
            android:theme="@style/Theme.MEcommarss" />
        <activity
            android:name=".activitys.CartMainActivity"
            android:exported="false"
            android:label="Shopping Cart"
            android:theme="@style/Theme.MEcommarss" />
        <activity
            android:name=".activitys.ProductDetaile"
            android:exported="false"
            android:theme="@style/Theme.MEcommarss" />
        <activity
            android:name=".activitys.MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />
    </application>

</manifest>